// https://github.com/jbmartinez/pure-sass
/*wsui-purecss-grid Start*/
$wsui-purecss-grid-prefix: "wsui-" !default;
$sm-breakpoint: 35.5em !default;
$md-breakpoint: 48em !default;
$lg-breakpoint: 64em !default;
$xl-breakpoint: 80em !default;
$include-responsive-grid: true !default;
/*wsui-purecss-grid End*/

