/*webkit-sass-percentage-grid Start*/
$webkit-sass-percentage-grid-options: (
  grid: 12,
  gutter-x: 2%,
  gutter-y: 1em,
  responsive: (
    sm: 567px,
    md: 767px,
    lg: 1200px
  )
) !default;
@mixin webkit-sass-percentage-grid {
  $options: $webkit-sass-percentage-grid-options;
  $grid: map-get(
    $map: $options,
    $key: grid
  );
  $grid_1: $grid - 1;

  $gutter-x: map-get(
    $map: $options,
    $key: gutter-x
  );
  $gutter_x: $gutter-x / ($gutter-x * 0 + 1);

  $gutter-y: map-get(
    $map: $options,
    $key: gutter-y
  );
  $gutter__y: $gutter-y / ($gutter-y * 0 + 1);

  .container {
    width: unquote("#{(100 - $gutter-x)}%");
    padding: 0 unquote("#{$gutter-x/2}%");
    margin: 0 auto;
  }

  .row {
    margin: $gutter-y 0;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  [class^="col-"] {
    width: 100%;
    float: left;
    margin: 0 0 0 unquote("#{$gutter-x}%"); /* This is the gutter */
  }

  [class^="col-"]:first-child {
    margin: 0;
  }

  .col-center:first-child {
    float: none;
    margin: 0 auto;
  }

  //  columns:
  $item: (100 - $gutter_x * ($grid - 1)) / $grid;
  @for $i from 1 through $grid {
    $width: ($i - 1) * $gutter_x + $item * $i;
    .col-#{$i}-#{$grid} {
      width: unquote("#{$width}%");
    }

    @if $i < $grid_1 {
      .offset-#{$i}-#{$grid} {
        margin-left: unquote("#{$width + 2 * $gutter_x}%");
      }
      .offset-#{$i}-#{$grid}:first-child {
        margin-left: unquote("#{$width + 1 * $gutter_x}%");
      }
    }

    @if $i < $grid {
      .offset-#{$i}-#{$grid},
      .offset-#{$i}-#{$grid}:first-child {
        margin-left: unquote("#{$width + 1 * $gutter_x}%");
      }
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }

  // todo: optmize to variables;
  @media (max-width: 767px) {
    .row {
      margin: 0;
    }
    [class^="col-"],
    [class^="col-"]:first-child {
      width: 100%;
      margin: 0.25em 0;
    }

    @for $i from 1 through $grid {
      .col-#{$i}-#{$grid} {
        &.is-split {
          width: 49%;
          margin: 0.25em 0 0.25em 2%;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

// @include webkit-sass-percentage-grid;
/*webkit-sass-percentage-grid End*/
